# Database URL MySQL.
DATABASE_URL

# this port where app will run 
PORT

# Access Token (short-lived)
# ACCESS_TOKEN_EXPIRES=15m
ACCESS_SECRET

# Refresh Token (long-lived)
# REFRESH_TOKEN_EXPIRES=7d
REFRESH_SECRET

NODE_ENV=production

# Email service.
# user is the email from which you want to send the otp or mail
USER 
PASSWORD